/** {
	border: 1px solid black;
}*/

.container {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: auto;
	border: 2px solid black;
	ul {
		width: 3000px;
		margin: 0;
		padding: 0;
	}
	li {
		width: 600px;
		float: left;
		list-style: none;
		img {
			width: 100%;
		}
	}
}